#especialidades .icon-box {
    text-align: center;
    border: 1px solid #d5e1ed;
    padding: 50px 0px;
    transition: all ease-in-out 0.3s;
}

#especialidades {
    margin-top: 12em;
}

.agenda-list {
    padding-bottom: 30px !important;
}

.agenda-list li {
    border: 1px solid #1977cc;
}

.form-check-input[type=radio] {
    float: right;
}