<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% block title %}Login{% endblock %}


{% block content %}
{{ medicos_url|json_script:"url-med" }}
<section id="especialidades" class="services">
  <div class="container">

    <div class="section-title">
      <h2>Especialidades</h2>
      <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
    </div>

    {% if especialidades_all_list %}
    <div class="row" id="especialidadesRow">
      <input type="text" id="filterSearch" onkeyup="filterItems()" placeholder="Search for names.." title="Type in a name">
      {% for especialidad in especialidades_all_list %}
        <div class="col-lg-3 col-md-4 align-items-stretch mb-4 especialidad-item item-{{ especialidad.id }}">
          <div onclick="clickedItem('{{especialidad.id}}', '{{especialidad.descripcion}}')">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-heartbeat"></i></div>
              <h4><a href="#doctors">{{ especialidad.descripcion }}</a></h4>
            </div>
          </div>
        </div>
      {% endfor %}

    </div>
    {% else %}
      <p>No polls are available.</p>
    {% endif %}
  </div>
</section>

<section id="doctors" class="doctors">
  <div class="container">

    <div class="section-title">
      <h2>Doctors</h2>
      <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
    </div>

    {% if medicos_all_list %}
    <div class="row" id="medicos_row">
      {% for medico in medicos_all_list %}
      <div class="col-lg-6">
        <div class="member d-flex align-items-start">
          <div class="pic"><img src="/static/assets/img/doctors/doctors-1.jpg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Walter White</h4>
            <span>{{ medico.especialidad }}</span>
            <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
            <button>Agendar Hora</button>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% else %}
      <p>No polls are available.</p>
    {% endif %}

  </div>
</section>
{% endblock %}